# Dependencies
node_modules
.pnp
.pnp.js
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz

# Testing
coverage
.nyc_output

# Next.js
.next/
out/

# Environment files
.env*.local
.env.production

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Version control
.git
.github
.gitignore

# IDE files
.idea
.vscode
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Project files
README.md
LICENSE
CHANGELOG.md
docker-compose.yml
Dockerfile
.dockerignore